@{
	ViewBag.Title = "Create New Category";

}

@model Admin.Models.ViewModels.CategoryCreateViewModel;

<h2>Yeni Kategori Oluştur</h2>

<form id="createCategoryForm" asp-controller="Category" asp-action="Create" method="post">
	<div class="form-group">
		<label class="form-label" asp-for="Name">Kategori Adı</label>
		<input asp-for="Name" class="form-control" />
		<span class=" text-danger" asp-validation-for="Name"></span>
	</div>

	<div class="form-group">
		<label class="form-label" asp-for="Tanim">Tanım</label>
		<textarea class="form-control" asp-for="Tanim"></textarea>
		<span class=" text-danger" asp-validation-for="Tanim"></span>
	</div>
	<div class="form-group">
		<label class="form-label" asp-for="Color">Kategori Rengi</label>
		<textarea class="form-control" asp-for="Color"></textarea>
		<span class=" text-danger" asp-validation-for="Color"></span>
	</div>
	<div class="form-group">
		<label class="form-label" asp-for="IconCssClass">Kategori İkonu</label>
		<textarea class="form-control" asp-for="IconCssClass"></textarea>
		<span class=" text-danger" asp-validation-for="IconCssClass"></span>
	</div>
	<div class="row text-center ">
	
		<div class="form-group col-12">
			<button type="submit" class="btn btn-success">Kategori Oluştur</button>
			<a asp-controller="Category" asp-action="List" type="button" class="btn btn-danger">Geri Dön</a>
		</div>
	</div>

</form>

@section Scripts {
	<script>

	</script>
	<partial name="_ValidationScriptsPartial" />

}
